section.home-info {
    width: 100%;
    height: auto;

    .home-info__wrapper {
        width: 100%;
        height: 100%;

        .home-info__text {

            h1 {
                position: relative;
                color: $dark-title;
                font-family: $titulo;
                font-size: 2.125rem;
                font-weight: 500;
                line-height: 3.5rem;
                margin: 3rem;

                span {
                    color: $sky;
                    display: block;
                    font-size: 2.625rem;
                }

                &::before {
                    @include pseudo();
                    background-color: $pink;
                    top: 5%;
                    left: -20px;
                    width: 6px;
                    height: 90%;
                    border-radius: 10px;
                }
            }

            .home-info__button {
                width: 100%;
                height: auto;
                padding: 2rem 0;

                .c-button-cta {
                    margin: auto;
                }

                .home-info__stores {
                    display: none;
                }
            }
        }

        .home-info__cellphone {
            display: none;
        }
    }

    @include s {
        .home-info__wrapper {
            .home-info__text {
                @include flex-align(column, center, center);

                h1 {
                    max-width: 380px;
                }
            }
        }
    }

    @include st {
        .home-info__wrapper {
            .home-info__text {
                padding: 6rem 3rem 0;

                h1 {
                    max-width: 440px;
                    margin: 0;
                    margin-bottom: 6rem;
                }
            }
        }
    }

    @include sd {
        padding-bottom: 5rem;

        .home-info__wrapper {
            align-items: flex-end;

            .home-info__text {
                justify-content: center;
                align-items: flex-end;
                height: 100%;
                padding: 8rem 0 5rem 0;

                h1 {
                    max-width: 410px;
                    margin-bottom: 0;
                }

                .home-info__button {
                    max-width: 410px;
                    align-items: flex-start;
                    flex-direction: column;
                    padding: 0;

                    .c-button-cta {
                        margin: 4rem 0 2rem;
                    }

                    .home-info__stores {
                        @include flex-align(row, center, center);
                        width: 300px;
                        height: auto;

                        img {
                            width: 42px;
                            height: 42px;
                            margin: 0 .8rem;
                        }
                    }
                }
            }

            .home-info__cellphone {
                display: block;
                padding-left: 15%;

                figure {
                    max-width: 300px;
                    margin: 0;

                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
}