/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

//Se definen variables de colores.

/**
 * Colores corporativos.
 */

$pink: #FF0F64;
$sky: #41B9E6;
$negro:#000;
$blanco: #FFF;

/**
  * Redes sociales.
  */

$fb: #3A5795;
$ig: #C13584;
$wsp: #25D366;

/**
  * Colores generales.
  */

$dark-title: #3D3D3D;
$dark-text: #666666;
$grey: #CCCCCC;
$yellow: #FFC420;
$purple: #EA17DB;
$enlace: #008AE0;