.c-button-download {
    @include border(2px, $pink);
    border-radius: 4px;
    width: 175px;
    height: 50px;
    cursor: pointer;

    a {
        @include flex-align(row, center, center);
        width: 100%;
        height: 100%;

        .c-button-download__ico {
            span {
                color: $pink;
                font-size: 1rem;
            }
        }

        .c-button-download__text {
            font-family: $texto;
            color: $pink;
            margin: 0;
            margin-left: 10px;
            font-weight: 500;
        }
    }

    &:hover {
        background-color: $pink;

        .c-button-download__text {
            color: $blanco;
        }

        .c-button-download__ico {
            span {
                color: $blanco;
                font-size: 1rem;
            }
        }
    }
}