.c-service-card {
    @include flex-align(column, center, center);
    padding: 5rem 1rem;
    max-width: 80%;
    border-radius: 20px;

    .c-service-card__ico {
        @include flex-align(column, center, center);
        background-color: $blanco;
        border-radius: 8px;
        width: 80px;
        height: 80px;

        span {
            color: $blanco;
            font-size: 2.3rem;
        }
    }

    .c-service-card__text {
        @include flex-align(column, center, center);

        h2 {
            font-family: $titulo;
            margin: 2rem 0 1rem;
        }

        p {
            font-family: $texto;
            color: $dark-text;
            max-width: 260px;
            text-align: center;
            line-height: 1.5rem;
            font-weight: 500;
            padding: 0 1.5rem;
        }
    }

    &.c-service-card--user {
        .c-service-card__ico {
            background-color: $yellow;
        }
    }

    &.c-service-card--dollar {
        .c-service-card__ico {
            background-color: $sky;
        }
    }

    &.c-service-card--bell {
        .c-service-card__ico {
            background-color: $purple;
        }
    }
}