section.subscribe {
    background-color: $pink;
    padding: 5rem 0 4rem;
    width: 100%;
    height: auto;

    .subscribe__wrapper {
        width: 100%;
        height: 100%;

        .subscribe__title {
            padding: 0 1rem 0 3rem;

            h2 {
                color: $blanco;
                font-family: $titulo;
                position: relative;
                max-width: 320px;
                font-size: 2.125rem;
                font-weight: 500;
                line-height: 2.8rem;
                margin: 0;

                &::before {
                    @include pseudo();
                    background-color: $blanco;
                    top: 5%;
                    left: -20px;
                    width: 6px;
                    height: 90%;
                    border-radius: 10px;
                }
            }
        }

        .subscribe__input {
            @include flex-align(row, center, center);
            padding: 3rem 1rem;
            max-width: 350px;
            margin: auto;
        }
    }

    @include s {
        .subscribe__wrapper {
            @include flex-align(column, center, center);

            .subscribe__input {
                max-width: none;
                width: 390px;

                input[type="text"] {
                    width: 160px;
                }

                button {
                    width: 160px;
                }
            }
        }
    }

    @include sd {
        padding: 5rem 0 5rem;

        .subscribe__wrapper {
            flex-direction: row;

            .subscribe__title {
                h2 {
                    max-width: 450px;
                    font-weight: 400;
                }
            }

            .subscribe__input {
                margin: initial;
                width: 500px;

                .c-input {
                    padding: 0 10px 0 25px;

                    input[type="text"] {
                        width: 220px;
                    }

                    button {
                        width: 190px;
                    }
                }
            }
        }
    }
}