/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * En el documento se trabaja el layout completo del
   proyecto, generando así la estructura del sitio.
   Si se deben modificar estilos de elementos, se 
   deberán realizar en el documento .scss del elemento
   al cual se desea modificar.
 */

div.full-wrapper {
    width: 100%;
    min-width: 250px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, auto);
    grid-template-areas:
        "header header header header"
        "home-info home-info home-info home-info"
        "services services services services"
        "app-info app-info app-info app-info"
        "alerta alerta alerta alerta"
        "screens screens screens screens"
        "subscribe subscribe subscribe subscribe"
        "cta cta cta cta"
        "footer footer footer footer";



    /**
 * A continuación se trabaja la estructura para las
    diferentes secciones del sitio.
*/

    //Header

    header {
        grid-area: header;
        display: grid;
        grid-template-rows: auto;

        .header-mobile {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-items: left;
            grid-gap: 1rem;
        }

        .mobile-navigation {
            .mobile-navigation__menu {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 20% 10% auto;

                .mobile-navigation__logo {
                    grid-row: 1/2;
                }

                .mobile-navigation__rrss {
                    grid-row: 2/3;
                }

                .mobile-navigation__list {
                    grid-row: 3/-1;
                }
            }
        }

        .header-desktop {
            .c-navigation {
                display: grid;
                grid-template-columns: 15% 55% auto;
                align-items: center;
                justify-items: center;
                grid-column-gap: 3rem;
            }
        }

        @include st {
            .header-mobile {
                grid-gap: 6rem;
                justify-items: center;
            }
        }

        @include mt {
            .header-mobile {
                display: none;
            }
        }

        @include md {
            .header-desktop {
                .c-navigation {
                    grid-column-gap: 2rem;
                }
            }
        }
    }

    //Home Info

    section.home-info {
        grid-area: home-info;

        @include sd {
            .home-info__wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 4rem;

                .home-info__text {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }

                .home-info__cellphone {
                    grid-column: 2/-1;
                    grid-row: 1/2;
                }
            }
        }
    }

    //Servives

    section.services {
        grid-area: services;

        @include sd {
            .services__wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }

    //App Information

    section.app-info {
        grid-area: app-info;

        @include sd {
            .app-info__wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .app-info__cellphone {
                    grid-column: 1/2;
                }

                .app-info__text {
                    grid-column: 2/-1;
                    grid-row: 1/2;
                }

                .app-info__button {
                    grid-column: 2/-1;
                    grid-row: 1/2;
                }
            }
        }
    }

    //Alerta Enel

    section.alerta-enel {
        grid-area: alerta;

        @include sd {
            .alerta-enel__wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .alerta-enel__cellphone {
                    grid-column: 2/-1;
                }

                .alerta-enel__text {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }

                .alerta-enel__button {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
            }
        }
    }

    //Screens

    section.screens {
        grid-area: screens;

        @include sd {
            .screens__images {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 2rem;
            }
        }
    }

    //Subscribe

    section.subscribe {
        grid-area: subscribe;
    }

    //Call to Action Button

    section.call-to-action {
        grid-area: cta;
    }

    //Footer 

    footer.footer {
        grid-area: footer;

        @include s {
            .footer__wrapper {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 6.5rem;
            }
        }

        @include st {
            .footer__wrapper {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, auto);
                grid-column-gap: 2rem;

                .footer__logo {
                    grid-column: 1/2;
                }

                .footer__legal {
                    grid-column: 2/-1;
                }
            }
        }

        @include sd {
            .footer__wrapper {
                grid-column-gap: 6rem;
            }
        }
    }
}