section.screens {
    padding: 3rem 3rem 6rem;

    .screens__title {
        width: 100%;
        height: auto;
        padding-bottom: 2rem;

        h2 {
            color: $dark-title;
            font-family: $titulo;
            text-align: center;
            max-width: 320px;
            font-size: 2.125rem;
            font-weight: 500;
            line-height: 2.8rem;
            margin: 0;

            span {
                color: $sky;
                font-size: 2.625rem;
            }
        }
    }

    .screens__images {
        @include flex-align(row, center, center);

        figure {
            position: relative;
            margin: 0;
            max-width: 280px;

            img {
                display: block;
                width: 100%;
            }

            &::before {
                @include pseudo();
                background-image: url(/img/iphone-xr-mockup.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                left: -3rem;
                top: 2.5rem;
                width: 85%;
                height: 85%;
                z-index: -1;
            }

            &::after {
                @include pseudo();
                background-image: url(/img/iphone-xr-mockup.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                right: -3rem;
                top: 2.5rem;
                width: 85%;
                height: 85%;
                z-index: -1;
            }
        }
    }

    @include s {
        .screens__title {
            @include flex-align(column, center, center);
        }
    }
}